<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<html>
	<head>
		<title>Ученье свет</title>
	</head>
	<body>
<!-- 		<h1>Важный заголовок, самый крупный</h1>
		<h2>Второй по важности, но не содержанию - подзаголовок</h2>
		<h3>Стоило это знать на защите в колледже. Хотя наверное знал</h3>
		<p>Это текст параграфа. Мне нравится печатать то, что я думаю, поэтому я сюда это и пишу. Ну и наверное, если увижу это позже, то будет интересно знать о чем  я думал, когда делал это.</p>
		<em>Важный текст нужно подчеркнуть. Почему-то звучит мрачно...</em>
		<strong>Жирный, солидный текст. Будет заметнее. Strong - сильный</strong>
		<br /> тут есть переход на следующую строку бр.
		<a href="https://djangogirls.org">Ссылка на гайд по джанго для девушек. Странно, почему сделано такое разделение, наверное, чтобы меньше боялись. </a>
		<ul><li>Создал список</li><li>с пунктами</li><li> прикольно ул ли</li></ul>
		<div>Знакомый тег, для разметки. Div</div> -->

		{% for post in posts %}
    		<div>
    			<p>Опубликовано: {{ post.published_date }}</p>
    			<h1><a href="">{{ post.title }}</a></h1>
    			<p>{{ post.text|linebreaksbr }}
		{% endfor %}
	</body>
</html>